<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="icon" href="https://icon-library.com/images/money-bag-icon/money-bag-icon-9.jpg">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"> -->

    <!-- <link rel="icon" href="https://static2.bigstockphoto.com/3/8/3/large2/383588534.jpg" type="image/x-icon"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <script src="https://kit.fontawesome.com/5034700df1.js" crossorigin="anonymous"></script>